<h1>hello</h1>
<p>Welcome to where I throw my thoughts out into the internet.</p>
<%= link_to "Check out my Github", "https://www.github.com/davenport1", target: "_blank", rel: "noopener noreferrer" %>
<%= link_to "Find me on LinkedIn", "https://www.linkedin.com/in/matthewdavenport1/", target: "_blank", rel: "noopener noreferrer" %>
